@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #D5D8DC;
}


header {
    background-image: url('land.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    direction: rtl;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #276994bf;
}

.nav a {
    color: white;
    font-size: 1.9rem;
    text-decoration: none;
    padding: 1rem;
    margin-left: 4rem;

}

.nav a:hover {
    color: rgb(79, 202, 227);
    text-decoration: underline;
    transition: 1s;
}


.image {
    width: 100%;
    height: 2000px;
    overflow: hidden;
}

.image img {
    width: 100%;
    transition-duration: 1s;
}

.image img:hover {
    transform: skew(10deg) scale(1.5) rotate(10deg);
    opacity: 0.6;
}


h1 {
    font-size: 5rem;
    margin-bottom: lrem;
    color: #000000;
}


h3 {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: black;
}


p {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
}

.container .van-container nav {
    width: 100%;
}


.container .van-container nav {
    background-color: #4a7693;
    width: 100%;
}


.nav-container {
    background: #4a7693;
    color: black;
    width: 100%;

}


nav {
    width: 100%;
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-size: 1.6rem;
}

nav .logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    flex: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex: 1;

}

nav ul li a {
    display: block;
    padding: 0.2 20px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}



nav ul li a:hover {
    color: #D5D8DC;
}


/* 

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(2.jpg);
    background-repeat: no-repeat;
} */


.img-bg {

    width: 100%;
    height: 600px;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.75rem 3rem;
    border: none;
    outline: none;
    background: #AED6F1;
}

.btn a {
    color: rgb(0, 1, 1);
    font-size: 1.6rem;
    text-decoration: none;
}

.btn:hover {
    background: #71add5;
}

.btn:active {
    transform: scale(0.98);
}

.content {
    width: 90%;
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;

}


h1 span,
h3 span {

    color: bisque;

}



/* 
.qualitis {
    width: 90%;
    margin: 4rem auto;
    max-width: 1366px;
    height: 100%;
    min-width: 50vh;
    display: flex;
} */

.more-info {
    display: flex;
}

.more-info {
    align-items: center;
    justify-content: center;
}

.more-info .header-container {
    width: 500px;
    height: 500px;
    background-color: #71add5;
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
}


.img1,
.img2 {
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
    width: 100%;
}

.div2 {
    width: 100%;
    background-color: #4a7693;
    padding: 20px;
    text-align: center;

}

.div2 h1 {
    color: #4a7693;
    font-size: 30px;
    text-align: center;
}




h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    font-family: 'Tajawal', sans-serif;
}



h2:hover :nth-child(2):after {
    margin-left: 10px;
}

h2:hover {
    color: black;
    text-shadow: 0 0 10px black,
        0 0 30px black,
        0 0 50px black,
        0 0 70px black,
        0 0 90px black;

}


.div2 p {
    font-family: 'Tajawal', sans-serif;
    padding: 50px;
}


.div2 img {
    border-radius: 12px;
    margin-top: 10px;
    border: 2px solid black;
}


.contact {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact h2 {
    margin-bottom: 20px;
}



.load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.load div {
    width: 20px;
    height: 20px;
    background-color: rgb(254, 252, 252);
    margin: 4px;
    border-radius: 50%;
    animation-name: up-down;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.load .clk {
    animation-delay: 0.5s;

}

.load div:hover {
    animation-play-state: paused;
}

.load .clk {
    animation-delay: 0.8s;
}

@keyframes up-down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.4;
        background-color: black;
        transform: translateY(10px);
    }
}


/* *********************************home*************************************** */


.section1 {
    margin-bottom: 100px;
}

.section1 h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.containt1 {
    width: 100%;
    display: flex;
    padding: 40px;
    position: relative;
}

.containt1 .details {
    width: 50%;
}

.containt1 .images {
    width: 50%;
    padding-right: 30px;
}

.containt1 .images img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    border: 2px solid white;
    transition-duration: 0.5s;
}


.containt1 .images img:hover {
    width: 440px;
    height: 440px;
}

.containt1 .images img:nth-child(2) {
    position: absolute;
    left: 80px;
    bottom: -20px;
}

/* ***********section 2**************** */

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    padding: 70px 0;
    background-color: #276994bf;
}

.section2 div h1 {
    padding: 0 35px;
    color: #fff;
    transition-duration: 0.6s;
}

.section2 div h1:hover {
    font-size: 55px;
    color: #fff;
    text-shadow: 0px 0px 8px white;
}

/* ****************section3 ************************************/


.section3 {
    margin: 30px auto;
    text-align: center;
}

.section3 .containt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* .section3 h1{
font-size: 45px;
} */

.section3 .containt img {
    width: 50px;
    height: 50px;
}

.div-one,
.div-two,
.div-three,
.div-four {
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 40px;
    padding: 20px;
}

/* **********section 4 */
.section4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: #276994bf;
}

.contact-title {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
}

.contact,
.info {
    width: 50%;
}


.contact input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    margin: 10px 10px 0 0;
    border: none;
    padding: 12px;
}

.contact textarea {
    width: 400px;
    height: 200px;
    border-radius: 8px;
    margin: 10px 10px 0 0;
    padding: 12px;
}

button {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    margin: 10px 10px 0 0;
    padding: 12px;
}


.contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1,
.img2 {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 4px;
}


.info p:nth-child(1) {
    font-size: 26px;
    font-weight: bold;
}

.info p:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}